<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="hotelConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=hotel;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="480" maxRequestLength="4096000"/>
	</system.web>
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="server=huangang\SQLEXPRESS; database=hotel; Integrated Security=true;User ID=huangang;Password=huangang;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
